html, body {
  width: 100%;
  height: 100%;
}

body {
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: none;
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 32px;
  line-height: 64px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

h1#name {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

h1#name img {
  height: 70%;
  max-height: 90px;
  vertical-align: middle;
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: none;
  overflow: hidden;
}

#bg-container img {
  position: absolute;
}
